.right{
  float: right;
}

h1{
  text-align: center;
}

.left{
  float:left;
}

h2{

}

body{
  padding-top: 70px;
  font-size: 20px;
  background-color: lightgray;
}

.hobbies p{
  font-family: fantasy;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.program p{
  font-family: serif;
  font-size: 22px;
  border: 4px solid black;
  padding: 2px;
  background-color: white;
}

ol{
  background-color: white;
}

.red{
  color:red;
}
